body
            {
                background-color:rgb(246, 247, 213);
            }
            h1{color: rgb(82, 5, 5);font-size: xx-large;text-align: center;}
            h2{color: rgb(10, 10, 85);font-size:medium;text-align: center;}
            h2{color: rgb(35, 3, 39);font-size:medium;}
            div{background-color:rgb(214, 217, 218);font-size: large;image-orientation:flip;}
            p{color:rgb(15, 1, 15)}
            h1 {
                text-shadow: 0 0 3px #6b2121, 0 0 5px #2323be;
              }
              h2 {
                text-shadow: 0 0 3px #d877a4, 0 0 5px #2323be;
              }
              p.dotted {border-style: dotted;border-color: darkorchid;}
              div.polaroid {
                width: 284px;
                padding: 10px 10px 20px 10px;
                border: 1px solid #BFBFBF;
                background-color: white;
                box-shadow: 10px 10px 5px #c51f1f;
              }